@font-face {
  font-family: 'fzlt';
  src: '../fonts/FZLTZHJW.TTF';
}


@font-face {
  font-family: 'huawei';
  src: '../fonts/HuaweiSans-Medium.ttf';
}

@font-face {
  font-family: 'fzltxh';
  src: '../fonts/FZLTXHJW.TTF';
}